[submodule "XAudioJS"]
	path = XAudioJS
	url = git://github.com/grantgalitz/XAudioJS/
[submodule "IodineGBA/includes/XAudioJS"]
	path = IodineGBA/includes/XAudioJS
	url = git://github.com/grantgalitz/XAudioJS.git
